.spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background: none;
  color: white;
  background-color: #001013;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  z-index: 10;
}

#avatar {
  background-color: pink;
}

.menu-item{
  padding: 0 14px;
  display: flex;
  align-items: center;
}

form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

form mat-form-field {
  width: 100%;
}
