<app-header (onNewPost)='getProfile()' [user]='user.name'></app-header>

<!-- Header Phantom -->
<div class="phantom-header">
</div>

<!-- Banner + Profile photo -->
<div id="profile-header">
</div>

<div id="profile-page">
  <!-- Left bar -->
  <div class="test" id="left-bar">
    <app-message></app-message>
  </div>

  <!-- Content-->
  <div class="test" id="middle-bar">
    <mat-tab-group>

      <!-- First tab -->
      <mat-tab>
        <ng-template mat-tab-label >
          <span class="mat-label">My posts</span>
        </ng-template>

        <!-- All my posts -->
        <mat-card *ngFor="let post of posts" class="post">
          <mat-card-header>
            <div mat-card-avatar class="logo"></div>
            <mat-card-title>{{post.autorName}}</mat-card-title>
            <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content innerHTML="{{post.text}}"></mat-card-content>
          <mat-card-actions>
            <button mat-button>Likes</button>
            <button mat-button>Comments</button>
            <button mat-button>Reposts</button>
            <button mat-button color="warn" (click)="deletePost(post._id)">
              <mat-icon>delete</mat-icon>Delete</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>

      <!-- Second tab -->
      <mat-tab>
        <ng-template mat-tab-label >
          <span class="mat-label">My friends</span>
        </ng-template>
        <mat-card *ngFor="let friend of user.friends" class="post">
          <mat-card-header>
            <div mat-card-avatar class="logo"></div>
            <mat-card-title #friendName>{{friend}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button (click)="unfollow(friendName.innerHTML)" mat-button color="warn">Unfollow</button>
          </mat-card-actions>
        </mat-card>
      </mat-tab>

      <!-- Third tab -->
      <mat-tab>
        <ng-template mat-tab-label >
          <span class="mat-label">More options</span>
        </ng-template>
        In progress ...
      </mat-tab>
    </mat-tab-group>

  </div>

  <!-- Right bar -->
  <div class="test" id="right-bar">

  </div>
</div>
