<div id="authenticator">
  <app-message></app-message>
  <mat-card id="authenticator-content">
    <mat-card-header>
      <mat-card-title>{{getStateText()}}</mat-card-title>
    </mat-card-header>
    <div *ngIf="isLoginState()">
      <input [(ngModel)]='logUser.email' placeholder="Email">
      <input [(ngModel)]='logUser.password' placeholder="Password" type="password">
      <button (click)='login()'
      mat-flat-button color='warn'>Login</button>
    </div>
    <div *ngIf="isRegisterState()">
      <input [(ngModel)]='newUser.name' placeholder='User Name'>
      <input [(ngModel)]='newUser.email' placeholder='Email'>
      <input [(ngModel)]='newUser.password' placeholder='Password' type='password'>
      <input [(ngModel)]='newUser.verifPassword' placeholder='Confirm Password' type='password'>
      <button (click)='addUser()'
      mat-flat-button color='warn'>Create</button>
    </div>
    <div *ngIf="isForgotPasswordState()">
      <input placeholder='Email'>
      <button mat-flat-button color='warn'>Reset</button>
    </div>
    <mat-card-actions align='end'>
      <button
      (click)='onForgotPasswordClick()' mat-flat-button>Forgot Password</button>
      <button
      (click)='onCreateAccountClick()' mat-flat-button>Create an Account</button>
      <button
      (click)='onLoginClick()' mat-flat-button>Login</button>
    </mat-card-actions>
  </mat-card>
</div>
